/* Advent of code...
Font color: #00cc00
color: #00cc00;
    text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
font-family: "Source Code Pro", monospace;
    background: #0f0f23;
  */


@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

html, body, #root {
  color: #cccccc;
  --color-0: #cccccc;
  --color-1: #00cc00;
  background: #0f0f23;
  font-family: 'Source Code Pro', monospace;
  --color-2: #FF6663;
  --color-3: #8DDBE0;
  --color-4: #A799B7;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

h1 {
  color: var(--color-1);
  padding: 0;
  margin: 0;
  font-size: 8em;
  text-shadow: 0 0 2px var(--color-1), 0 0 5px var(--color-1)
}

h2 {
  color: var(--color-2);
  padding: 0;
  margin: 0;
  font-size: 3em;
  text-shadow: 0 0 2px var(--color-2), 0 0 5px var(--color-2);
}

.score_area {
  max-height: 50vh;
  overflow-y: scroll;
}

.score {
  font-size: 4em;
}